@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}


.stars, .clouds {
  position:absolute;
  top:2%;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  //background:rgba(0, 0, 0, 0) url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}



.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat-x top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}



.header{
    display : flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    position: absolute;
    width: 100%;
    color : white;
    margin: auto;
    z-index: 2;

    & a{
       
        text-decoration: none;
        text-transform: uppercase;
        color: White;
        font-size: 1.7rem;
        font-family: $fonth2;
    }

    &__mail{
      display : flex;
      align-items: center;
      font-style: italic;
      font-size:14px;
      color: #FFE0BE;
    }

}

.cover{
    display : flex;
    min-height: 112vh;
    background: URL('../assets/images/header_cover3.jpg');

    z-index: 2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__scroll{
        color : white;
        position : absolute;
        flex-direction: column;
        display : flex;
        justify-content: flex-end;
        align-items: center;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        & img{
            
            width : 5%;
            height: auto;
        }
    }

}

.content__container__button{
  display:flex;
  margin-top : 5vh;
  justify-content: space-around;
  
}
.button__discover{
  border-radius: 10px;
  width: 15vw;
  height: 4vh;
  border:none;
  text-transform: uppercase;
  font-family: $font1;

  &:hover{
    background:#30d691;
  }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 170px;
    overflow:hidden;
    
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    line-height: 40px;
    color: #ecf0f1;
    text-transform: uppercase;
    
    &__container {
      font-weight: 700;
      overflow: hidden;
      height: 40px;
      padding: 0 40px;
  
      &:before {
        content: '[';
        left: 0;
      }
  
      &:after {
        content: ']';
        position: absolute;
        right: 0;
      }
  
      &:after, &:before {
        position: absolute;
        top: 0;
        
        color: #16a085;
        font-size: 60px;
        line-height: 40px;
        
        -webkit-animation-name: opacity;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        animation-name: opacity;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
  
      &__text {
        display: inline;
        float: left;
        margin: 0;
      }
  
      &__list {
        margin-top: 0;
        padding-left: 270px;
        text-align: left;
        list-style: none;
        
        -webkit-animation-name: change;
        -webkit-animation-duration: 17s;
        -webkit-animation-iteration-count: infinite;
        animation-name: change;
        animation-duration: 17s;
        animation-iteration-count: infinite;
  
        &__item {
          line-height:40px;
          margin:0;
        }
      }
    }
  }
  
  @-webkit-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @-webkit-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }
  
  @-o-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @-o-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }
  
  @-moz-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @-moz-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }
  
  @keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }

