@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}


.clouds {
  position:absolute;
  top:2%;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;

  background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat-x top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}


.header{
  display : flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  color : white;
  margin: auto;
  z-index: 2;

  & a{
     
      text-decoration: none;
      text-transform: uppercase;
      color: White;
      font-size: 1.7rem;
      font-family: $fonth2;
  }

  &__mail{
    display : flex;
    align-items: center;
    font-style: italic;
    font-size:14px;
    color: #FFE0BE;
  }

  @media screen and (max-width: 880px) {
    flex-direction: column;
  }

}

body::after{
content: "Work in progress";
text-align: center;
position: fixed;
top: 50px;
right: -42px;
height: 30px;
width: 220px;
color:whitesmoke;
background : red;
transform: rotate(45deg);
overflow: hidden;
}

.cover{
  min-height: 112vh;
  background: URL('../assets/images/header_cover3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__scroll{
      color : white;
      position : absolute;
      flex-direction: column;
      display : flex;
      justify-content: flex-end;
      align-items: center;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%);
  
      & img{
          
          width : 5%;
          height: auto;
      }
  }

}

.content{
  display : flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  font-family: 'Lato', sans-serif;
}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  position : relative;
  min-width: 680px;
  height: 50px;

  overflow: hidden;
 
  padding : 0 35px;
  font-size: 3.1em;

  color: #ecf0f1;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 50px;
  

  &:before{
    content: '[';
    left: 0;
  }
  &:after{
    content: ']';
    right: 0;
  }

  &:after, &:before{
    position: absolute;
    top: -4px;
    color : rgb(238, 241, 28);
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  &__text{
    flex :33%;
    margin: 0;
  }

  &__list{
    flex : 63%;
    margin-top: 0px;
    padding: 0;

    list-style: none;
    

    -webkit-animation-name: change;
    -webkit-animation-duration: 17s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 15s;
    animation-iteration-count: infinite;
  }
  &__item{
    margin : 0;
    overflow: hidden;
    height: 47px;
  }

  @-webkit-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @-webkit-keyframes change {
  
    0%, 12.66% {-webkit-transform:translateY(0);transform:translateY(0);}
    16.66%, 29.32% {-webkit-transform:translateY(-24%);transform:translateY(-24%);}
    33.32%,45.98% {-webkit-transform:translateY(-50%);transform:translateY(-50%);}
    49.98%,62.64% {-webkit-transform:translateY(-75%);transform:translateY(-75%);}
    66.64%,79.3% {-webkit-transform:translateY(-50%);transform:translateY(-50%);}
    83.3%,95.96% {-webkit-transform:translateY(-25%);transform:translateY(-25%);}
  }
  
  @keyframes change {
  
    0%, 12.66% {-webkit-transform:translateY(0);transform:translateY(0);}
    16.66%, 29.32% {-webkit-transform:translateY(-24%);transform:translateY(-24%);}
    33.32%,45.98% {-webkit-transform:translateY(-50%);transform:translateY(-50%);}
    49.98%,62.64% {-webkit-transform:translateY(-75%);transform:translateY(-75%);}
    66.64%,79.3% {-webkit-transform:translateY(-50%);transform:translateY(-50%);}
    83.3%,95.96% {-webkit-transform:translateY(-25%);transform:translateY(-25%);}
  }
}


.content__button{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top : 5vh;
  min-width: 700px;
  z-index: 5;
  
}
.button__discover{
  min-width: 15vw;
  
  border-radius: 10px;
  height: 7vh;
  
  border:none;
  text-transform: uppercase;
  font-family: $font1;

  &:hover{
    background:#30d691;
    width: 315px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 881px) and (max-width: 1280px) { 
  /* your code */
   }
  
  /* Landscape phone to portrait tablet */
  @media (max-width: 880px) { 
     .container{
       min-width: 85vw;
       width: 85vw;

     }

     .content__button{
       min-width: 85vw;
       width: 85vw;

     }
   }
  
  /* Landscape phones and down */
  @media (max-width: 480px) { 
  /* your code */
   }