.presentation{
    display : flex;
    flex-direction: column;
    padding-top : 12vh;

    z-index: 1;
    color : white;
    padding-bottom : 20vh;

    
    background: url(../assets/images/stars_presentation.png),#000000;
}
%template {
    width : 70vw;
    margin : auto;
}

.presentation__image{
    @extend %template;
    display: flex;
    justify-content: center;
 
}

.presentation__image img{
    max-width: 20%;
    height: auto;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.presentation__text{
    @extend %template;
    
}

.presentation__skills{
    display : flex;
    flex-direction: column;
    @extend %template;
}