.skill{
    padding-top : 10vh;
    background: #000000;
}

.skill_container{
    
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 70vw;
    padding-bottom: 10vh;
    margin : auto;

    &__title{
        flex-basis: 100%;
    }

    &__list{
        min-width: 300px;
        flex-basis: 25%;

        background: #006475;
        //background:#043078;

        border-radius: 5px;
    }

    &__categories{
        list-style: none;
        padding:0;

        
        & > li{
            display :flex;
            align-items: center;
            justify-content: center;
            //background: #003294;
            background: #00A5BF;

            width: 100%;
            height: 80px;

            margin-bottom: 1vh;
            border-radius: 10px;

            color : whitesmoke;
            text-transform: uppercase;
            font-size: 1.1rem;

            &:hover{
                filter: brightness(120%);
            }
            
        }
    }

    &__cards{
        border: 1px solid white;
        flex-basis: 65%;
        
    }
}

.skill_card__content{

    display: flex;
    flex-direction: column;

    &__title{
        text-align: center;
    }
}